%h1 show.html.haml
= controller.controller_path
= controller.action_name

= link_to 'main/index', main_index_path
|
=link_to 'main/show',main_show_path
|
=link_to 'article/index',articles_index_path
|
=link_to 'article/index',articles_show_path
